/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
 /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:#FFF;
}
.wrap{
	width:1000px;
	margin:0 auto;
}
.header_top{
	padding:15px 0;
	background: #fac695;
    background: -moz-linear-gradient(top,  #fac695 0%, #eae2bb 0%, #f2edd4 55%, #f7f4e6 87%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fac695), color-stop(0%,#eae2bb), color-stop(55%,#f2edd4), color-stop(87%,#f7f4e6));
    background: -webkit-linear-gradient(top,  #fac695 0%,#eae2bb 0%,#f2edd4 55%,#f7f4e6 87%);
    background: -o-linear-gradient(top,  #fac695 0%,#eae2bb 0%,#f2edd4 55%,#f7f4e6 87%);
	background: -ms-linear-gradient(top,  #fac695 0%,#eae2bb 0%,#f2edd4 55%,#f7f4e6 87%);
	background: linear-gradient(to bottom,  #fac695 0%,#eae2bb 0%,#f2edd4 55%,#f7f4e6 87%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#f7f4e6',GradientType=0 );
}
.logo{
	float:left;
}
.search_box{
	float:right;
    padding:15px;
	background:#e6daa7;
	border-radius:0.5em;
	position:relative;
	margin-top:6px;
	margin-right:30px;
	border:1px solid #e4d7ad;
}
.search_box input[type="text"]{
	outline:none;
	background:#FFF;
	border:1px solid #CCC;
	font-size:12px;
	color:#AAA;
	width:200px;
	padding:5px;
}
.search_box input[type="submit"]{
	border:none;
	cursor:pointer;
	background:url(../images/search.png) no-repeat 4px 0;
	position:relative;
	width:30px;
	height:25px;
}
.menu{
	background:#4E4A38;
}
.menu li{
	display:inline-block;
	float:left;
}
.menu li a{
	font-family:'Oxygen', sans-serif;
	text-decoration:none;
	display:block;
	color:#e4dbb3;
	font-size:14px;
	padding: 30px 68px;
    border-right:2px ridge rgb(107, 102, 81);
    border-left:2px ridge rgb(107, 102, 81);
    text-shadow: 0px -1px 2px rgb(22, 22, 22);
}
.menu li a:hover{
	color:#FFF;
}
.main{
	background: #fac695;
	background: -moz-linear-gradient(top,  #fac695 0%, #eae2bb 0%, #f2edd4 52%, #f7f4e6 87%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fac695), color-stop(0%,#eae2bb), color-stop(52%,#f2edd4), color-stop(87%,#f7f4e6));
	background: -webkit-linear-gradient(top,  #fac695 0%,#eae2bb 0%,#f2edd4 52%,#f7f4e6 87%);
	background: -o-linear-gradient(top,  #fac695 0%,#eae2bb 0%,#f2edd4 52%,#f7f4e6 87%);
	background: -ms-linear-gradient(top,  #fac695 0%,#eae2bb 0%,#f2edd4 52%,#f7f4e6 87%);
	background: linear-gradient(to bottom,  #fac695 0%,#eae2bb 0%,#f2edd4 52%,#f7f4e6 87%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fac695', endColorstr='#f7f4e6',GradientType=0 );
}
.main_top{
	background:#ece2b3;
	position:relative;
}
.main_top_img{
	float:left;
	position:absolute;
	bottom:25px;
	left:50px;
}
.main_top_data{
	float:right;
	width:500px;
	padding:30px 50px;
	margin-right:25px;
}
.main_top_data h2{
	font-size:30px;
	color:#4E4A38;
	font-weight:bold;
}
.main_top_data h2 span{
	color:#FFF;
}
.main_top_data p{
	font-size:12px;
	color:#4E4A38;
	line-height:1.8em;
	padding:10px 0;
}
.main_top_bottom{
	padding:30px 0;
	background:#C4BC97;
	text-align:right;
}
.content{
	background:#ece6cb;
}
.grides{
	padding:20px;
}
.grid_top{
	background:#c4b68c;
	padding:5px 15px;
}
.grid_top img{
	float:left;
}
.grid_top_heading{
	float:left;
	padding:10px 5px;
}
.grid_top h2{
	font-size:22px;
	color:#FFF;
}
.grid1{
	float:left;
	width:300px;
}
.grid_data{
	padding:5px;
}
.grid1_data h3{
	font-size:15px;
	color:rgb(170, 147, 99);
	padding:10px 0;
	font-weight:bold;
}
.grid1_data p{
	font-size:12px;
	color:#7B7557;
	line-height:1.8em;
	padding:5px 0;
}
.grid2{
	float:left;
	width:300px;
	margin-left:30px;
}
.grid2_bottom{
	padding:5px;
	background:#FFF;
	border:2px solid #C4BC97;
	margin-top:10px;
}
.grid2_bottom p{
	font-size:11px;
	color:#444;
	line-height:1.5em;
	padding:5px;
}
.grid3{
	float:left;
	width:300px;
	margin-left:30px;
}
.services_list{
	margin:20px;
}
.services_list li{
	list-style-image:url(../images/list_img.png);
	font-size:12px;
	color:#F58625;
	margin:10px 15px;
}
.grid3 h4{
	font-size:12px;
	width:52px;
	padding:5px 10px;
	margin-left:20px;
	color:#FFF;
	background     : #df4d33;
    filter         : progid:DXImageTransform.Microsoft.gradient(startColorstr='#df4d33', endColorstr='#df4d33');
    text-shadow    : 0 1px 0 rgba(0, 0, 0, 0.2); 
    border-radius:5px;
    -webkit-border-radius:5px; 
     -moz-border-radius:5px; 
     -o-border-radius:5px; 
     cursor:pointer; 
}
.grid3 h4:hover{
	    background        : #e04d34;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNGQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMjMyMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e04d34 0%, #b23219 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e04d34), color-stop(100%,#b23219));
        background        : -webkit-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : -o-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : -ms-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : linear-gradient(top,  #e04d34 0%,#b23219 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04d34', endColorstr='#b23219',GradientType=0 );
        box-shadow        : 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px -1px rgba(0,0,0,0.15);  
        -moz-box-shadow   : 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px 0 rgba(0,0,0,0.15);
	    -webkit-box-shadow: 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px -1px rgba(0,0,0,0.15);
}
.footer h3{
	font-size:22px;
	color:#eee6c4;
}
.footer_grid1{
	float:left;
	width:300px;
	background:#888164;
	padding:17px;
}
.footer_grid1 p{
	font-size:13px;
	color:#ddd4ac;
	line-height:1.6em;
	padding-top:5px;
}
.footer_grid1 p span{
	font-size:13px;
	color:#ddd4ac;
	cursor:pointer;
}
.footer_grid1 p span:hover{
	color:#FFF;
}
.footer_grid2{
	float:left;
	width:300px;
	background:#7B7557;
	padding:17px;
}
.f_menu{
  padding-bottom:23px;
}
.f_menu li{
	display:block;
	margin:8px 0;
}
.f_menu li a{
	display:block;
	color:#ddd4ac;
	font-size:13px;
}
.f_menu li a:hover{
	color:#FFF;
}
.footer_grid3{
	float:left;
	width:300px;
	 background:#666147;
	padding:16px;
}
.img_list{
	padding-bottom:4px;
}
.img_list li {
	display:block;
	margin:13px 0;
} 
.img_list li a{
	font-size:13px;
	color:#ddd4ac;
	margin:10px;
}
.img_list li a:hover{
	color:#FFF;
}
.img_list img{
	vertical-align:middle;
}
.f_bottom{
	background:#4E4A38;
	padding:20px 0
}
.f_bottom p{
	text-align:center;
	color:#ddd4ac;
	font-size:12px;
	margin-top:5px;
}
.f_bottom p a{
	text-decoration:none;
	color:#a39157;
}
.f_bottom p a:hover{
	text-decoration:underline;
	color:#FFF;
}
/* About */
.about_data{
	float:left;
	width:600px;
	margin:25px 30px;
}
.about_data_top{
	background:#c4b68c;
	padding:5px 15px;
}
.about_data_top img{
	float:left;
}
.about_top_heading{
	float:left;
	padding:10px 5px;
}
.about_top_heading h2{
	font-size:22px;
	color:#FFF;
}
.about_desc{
	padding:10px 0px;
}
.about_desc p{
	font-size:12px;
	color:#7B7557;
	line-height:1.8em;
	padding:5px 0;
}
.about_desc h3{
	font-size:15px;
	color:rgb(170, 147, 99);
	padding:5px;
	font-weight:bold;
}
.about_img img{
	float:left;
	border: 1px solid #6f6749;
    padding: 3px;
    background: #9b8b59;
    margin-top:5px;
}
.about_img_desc{
	float:left;
	width:330px;
	margin-left:10px;
}
.about_img_desc p{
	font-size:12px;
	color:#7B7557;
	line-height:1.8em;
	padding:5px;
}
.about_img_desc p span{
	padding:5px 8px;
	background     : #df4d33;
    filter         : progid:DXImageTransform.Microsoft.gradient(startColorstr='#df4d33', endColorstr='#df4d33');
    color          : #fff;
    text-shadow    : 0 1px 0 rgba(0, 0, 0, 0.2); 
    -webkit-border-radius:5px; 
     -moz-border-radius:5px; 
     -o-border-radius:5px; 
     border-radius:5px; 
     cursor:pointer;
}
.about_img_desc p span:hover{
	    background        : #e04d34;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNGQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMjMyMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e04d34 0%, #b23219 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e04d34), color-stop(100%,#b23219));
        background        : -webkit-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : -o-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : -ms-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : linear-gradient(top,  #e04d34 0%,#b23219 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04d34', endColorstr='#b23219',GradientType=0 );
        box-shadow        : 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px -1px rgba(0,0,0,0.15);  
        -moz-box-shadow   : 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px 0 rgba(0,0,0,0.15);
	    -webkit-box-shadow: 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px -1px rgba(0,0,0,0.15);
}
.sidebar{
	float:left;
	width:300px;
	margin:25px 20px;
}
.sidebar_top{
	background:#c4b68c;
	padding:5px 15px;
}
.sidebar_top img{
	float:left;
}
.sidebar_top_heading{
	float:left;
	padding:10px 5px;
}
.sidebar_top_heading h2{
	font-size:22px;
	color:#FFF;
}
.list1{
	padding-bottom:10px;
	margin-left:15px;
}
.list1 li{
	font-size:12px;
	color:rgb(170, 147, 99);
    margin:15px 0;
    cursor:pointer;
}
.list1 li:hover{
    color:#7B7557;
}
/* Services */
.services_desc p{
	font-size:12px;
	color:#7B7557;
	line-height:1.6em;
	padding:5px 0;
}
.services_desc h3{
	font-size:15px;
	color:rgb(170, 147, 99);
	padding:5px;
	font-weight:bold;
}
.service1{
	float:left;
	padding:20px 0;
}
.services h4{
	font-size:18px;
	color:#666147;
	border-bottom:1px dotted #888;
}
.serv_img{
	float:left;
	padding-top:10px;
}
.serv_data{
	float:left;
	width:210px;
    margin-top:10px;
    padding-left: 5px; 
}
.serv_data p{
	font-size:13px;
	color:#666147;
	line-height:1.6em;
}
.service2{
	float:right;
	padding:20px 0;
}
/* Gallery */
.box1{
	float:left;
	width:300px;
	border:1px solid rgb(218, 210, 174);
	margin:15px;
}
.box1_top{
	text-align:center;
	margin:10px 0;
}
.box1_top img{
	border: 1px solid #bbae7f;
    padding: 3px;
    background:#cabc91;
}
.box1_data{
	padding:3px 15px;
}
.box1_data h3{
	font-size:13px;
	color:rgb(170, 147, 99);
	font-weight:bold;
}
.box1_data p{
	font-size:12px;
	color:#7B7557;
	line-height:1.8em;
	padding:5px 0;
}
/* Contact */
.feedback{
    margin-top:20px;
}
form label{
	margin-left:20px;
	font-size:13px;
	color:#7B7557;
}
.feedback form input[type="text"],.feedback textarea{
	padding:8px;
	font-size:12px;
	margin:5px 0 15px 20px;
    display:block;
	width:500px;
	background:none;
	border: 1px solid rgb(202, 196, 168);
	outline:none;
	color:#666147;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
   -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05) inset;
    font-family:Arial, Helvetica, sans-serif;		
}
.feedback textarea{
	resize:none;
	height:130px;		
}
 .feedback form input[type="text"]:focus,.feedback textarea.active { 
    border: 1px solid #b4af93;  
}
.feedback form input[type="submit"]{
	border            : 1px solid #a43332;
    background     : #df4d33;
    filter         : progid:DXImageTransform.Microsoft.gradient(startColorstr='#df4d33', endColorstr='#df4d33');
    color          : #fff;
    text-shadow    : 0 1px 0 rgba(0, 0, 0, 0.2); 
    cursor:pointer;
    margin-left:20px;
    cursor:pointer;
    border-radius:5px;
   -webkit-border-radius:5px;
   -moz-border-radius:5px;
   -o-border-radius:5px;
    padding:6px 15px;
}
.feedback form input[type="submit"]:hover{
	    background        : #e04d34;
        background        : url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwNGQzNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMjMyMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background        : -moz-linear-gradient(top,  #e04d34 0%, #b23219 100%);
        background        : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e04d34), color-stop(100%,#b23219));
        background        : -webkit-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : -o-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : -ms-linear-gradient(top,  #e04d34 0%,#b23219 100%);
        background        : linear-gradient(top,  #e04d34 0%,#b23219 100%);
        filter            : progid:DXImageTransform.Microsoft.gradient( startColorstr='#e04d34', endColorstr='#b23219',GradientType=0 );
        box-shadow        : 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px -1px rgba(0,0,0,0.15);  
        -moz-box-shadow   : 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px 0 rgba(0,0,0,0.15);
	    -webkit-box-shadow: 1px 1px 0 0 #b13219 inset, -1px -1px 0 0 #b13219 inset, 0 1px 2px -1px rgba(0,0,0,0.15);
}
